{{partial "navbar" }}
<div class="container-fluid">
<div class="row bgclr-wht">
  <div class="train-srch-block">
    <form >
      <input type="hidden" id="device_type" value="mobile_web">
      <div class="col-xs-12">
        <label>Train No. or Name</label>
        {{train-picker actionName="getTimeTable"}}
        {{input type="hidden" id="picker" value="1" }}
        {{!-- <input type="text" name="train_number" class="trainpicker select_focus ui-autocomplete-input" autofocus="" id="train_seat_avl" autocomplete="off"> --}}
      </div>
      <!-- m -->
      <div>
        <div class="col-xs-12 select-station">
          <label>From Station</label>
          <span id="train_from_station">
            <select name="from_station" class="live-form-control">
              <option value="">From</option>
              {{#each stations.route as |station|}}
                {{#if station.stop}}
                 <option value="{{station.station_code}}">{{station.station_name}} </option>
                {{/if}}
              {{/each}}
            </select>
          </span>
        </div>
        <div class="col-xs-12 select-station">
          <label style="margin-top: 10px;">To Station</label>
          <span id="train_to_station">
            <select name="to_station" class="live-form-control" >
             <option value="">To</option>
              {{#each stations.route as |station|}}
                {{#if station.stop}}
                 <option value="{{station.station_code}}">{{station.station_name}} </option>
                {{/if}}
              {{/each}}
            </select>
          </span>
        </div>
        <div class="col-xs-12">
          <label style="margin-top: 10px;">Boarding Date</label>
           {{date-picker normal=true}}
          <span class="clear_input" title="clear field"><i class="fa fa-remove fa-lg"></i></span>
        </div>
        <div class="col-xs-12 select-station">
          <div class="col-xs-6 select-station-pad">
            <label>Class</label>
            <select class="live-form-control" id="journey_class" name="journey_class"><option value="1A">FIRST AC</option>
              <option value="2A">SECOND AC</option>
              <option value="3A">THIRD AC</option>
              <option value="3E">3 AC Economy</option>
              <option value="CC">CHAIR CAR</option>
              <option value="FC">FIRST CLASS</option>
              <option value="SL" selected="selected">SLEEPER CLASS</option>
              <option value="2S">SECOND SEATING</option></select>
            </div>
            <div class="col-xs-6 select-station" style="padding-right: 0;">
              <label>Quota</label>
              <select class="live-form-control" id="quota" name="quota"><option value="CK">Tatkal</option>
                <option value="PT">Premium Tatkal</option>
                <option value="LD">Ladies</option>
                <option value="DF">Defence</option>
                <option value="FT">Foreign Tourist</option>
                <option value="DP">Duty Pass</option>
                <option value="HP">Handicaped</option>
                <option value="PH">Parliament House</option>
                <option value="SS">Lower Berth</option>
                <option value="YU">Yuva</option>
                <option value="GN" selected="selected">General</option></select>
              </div>
            </div>
          </div>
          <!-- l -->
          <div class="clearfix"></div>
          <div class="col-xs-12 stn-srch-btn select-station">
            <button type="submit" class="btn btn-block">GO</button>
          </div>
          <div class="col-xs-12" style="padding:0 0 70px 15px;">
            <a href="/current-seat-availability" target="_blank">Check Current Seat Availability</a>
          </div>
        </form>        </div>
      </div>
    </div>
